In [1]:
import pyreadr
import pandas as pd

In [2]:
data = pyreadr.read_r('brain_scRNAseq.rda')

In [3]:
count_df = data['Y'].T
count_df.index = count_df.index.map(lambda x: f'cell{x}')

In [4]:
count_df

,A2M,A2ML1,A2MP1,AAAS,AACS,AADAT,AAGAB,AAK1,AAMP,AARS,...,ZXDA,ZXDB,ZXDC,ZYG11B,ZYX,ZZEF1,ZZZ3,no_feature,ambiguous,alignment_not_unique
cell0,0,0,0,0,0,10,408,0,0,0,...,0,0,0,1,0,11,0,1182447,7469,863002
cell1,0,0,0,0,0,0,0,0,0,0,...,0,0,129,465,0,114,0,911868,8824,766088
cell2,34,25,0,111,0,0,0,0,0,0,...,0,0,0,0,0,23,0,1467167,4402,951951
cell3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1589134,15321,1379300
cell4,0,1290,0,0,0,0,60,65,0,14,...,0,0,0,3,0,10,0,1488170,10237,1398929
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
cell95,0,0,0,215,0,0,136,0,0,0,...,0,0,325,390,0,72,15,1098031,15174,637260
cell96,1,0,0,0,0,0,0,2,0,0,...,0,0,0,109,0,0,0,1618098,15418,683987
cell97,0,0,0,54,0,0,0,4,9,0,...,0,0,643,12,0,0,31,1343260,15122,672250
cell98,2,0,0,1,0,140,8,0,0,5,...,0,0,0,160,1,0,100,2048857,13917,1126149
cell99,0,0,0,19,0,0,0,0,0,0,...,1,0,72,0,0,1,1255,1641063,15221,995837

In [5]:
metadata = data['design']['celltype']

In [7]:
metadata.index = metadata.index.map(lambda x: f'cell{x}')

In [8]:
metadata

cell0           astrocytes
cell1           astrocytes
cell2           astrocytes
cell3           astrocytes
cell4           astrocytes
                ...
cell95    oligodendrocytes
cell96    oligodendrocytes
cell97    oligodendrocytes
cell98    oligodendrocytes
cell99    oligodendrocytes
Name: celltype, Length: 100, dtype: category
Categories (2, object): ['astrocytes', 'oligodendrocytes']

In [11]:
count_df.to_csv('count_df.csv')

In [12]:
metadata.to_csv('metadata.csv')